body{
    background-color: rgb(164, 88, 34);
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    border: 1px solid #c20505;
    background-color: #c8894a;

}
nav li{
    display: inline;
    float: left;
}
li a{
    display: block;
    color:rgb(209, 61, 8);
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.signup{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.signup-form{
    text-align: center;
}
.login{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    text-align: center;
}
input{
    border: 2px solid rgb(15, 13, 13);
    border-radius: 4px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin: 2px;
    width: 90%;
    transition: width 0.4s ease-in-out;
}
#signuplabel{
    text-align: center;
}

#loginlabel{
    text-align: center;
}

input:focus {
    width: 100%;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}